{
"components":[
	{
        "name": "access-127.0.0.1.5001",
        "intype": "tcp",
	"inconf": {
	      "url": "127.0.0.1:5001",
	      "timeout": 3}
	},
	
	{
        "name": "tgroup-127.0.0.1.6001",
        "intype": "tcp",
	"inconf": {
	      "url": "127.0.0.1:6001",
	      "timeout": 3}
	},
	
	{
        "name": "state-127.0.0.1.6002",
        "intype": "tcp",
	"inconf": {
	      "url": "127.0.0.1:6002",
	      "timeout": 3}
	},

	{
        "name": "forward-127.0.0.1.6003",
        "intype": "tcp",
	"inconf": {
	      "url": "127.0.0.1:6003",
	      "timeout": 3}
	}],
	
"groups":[
	{
	"name": "tgroup",
	"dispense":"hash",
	"members":["tgroup-127.0.0.1.6001", "tgroup-127.0.0.1.6001"]
	},{
	"name": "state",
	"dispense":"hash",
	"members":["state-127.0.0.1.6002"]
	},{
	"name": "forward",
	"dispense":"hash",
	"members":["forward-127.0.0.1.6003"]
	}],

"graphs": {
	"tgroup":["tgroup"],
	"state":["state"],
	"forward":["forward"]
}
}
